div {
    display: inline-block;
    padding: 20px;
    border: 3px solid yellow;
    margin: 20px;
    font-family: 'Montaga', serif;
    font-size: large;
    font-weight: bold;
    color: white;

}

#green {
    background: green;
}

#blue {
    background: blue;
}

#red {
    background: red;
}

#purple {
    background: purple;
}

#orange { 
    background: orange;
}